@model Core.Model.Animal

@{
    ViewBag.Title = "Deletando Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletando Animal</h2>

<h3>Você tem certeza que deseja excluir o cadastro do Animal?</h3>
<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especie.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir Animal" class="btn btn-default" /> |
            @Html.ActionLink("Lista de Animais", "Index", null, new { @class = "btn btn-mini btn-info" })
        </div>
    }
</div>
